@charset "UTF-8";


.icons #twitter {
	background-image: url(../images/socialIcons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 32px;
	width: 32px;
	display: block;
	float:left;
}
.icons #twitter:hover {
	background-position: 0px -32px;
}

.icons #facebook {
	background-image: url(../images/socialIcons.png);
	background-repeat: no-repeat;
	background-position: -32px 0px;
	height: 32px;
	width: 32px;
	display: block;
	float:left;
}
.icons #facebook:hover {
	background-position: -32px -32px;
}

.icons #dribbble {
	background-image: url(../images/socialIcons.png);
	background-repeat: no-repeat;
	background-position: -64px 0px;
	height: 32px;
	width: 32px;
	display: block;
	float:left;
}
.icons #dribbble:hover {
	background-position: -64px -32px;
}